# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*-debug.log

# Node
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build output
dist/
lib/

# macOS
.DS_Store
